<mat-toolbar>
   <img class="pokemonlogo" src="./../../assets/PokemonImg.jpg"/>
  

 <!-- <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search Name and abilities</mat-label>
    <input matInput type="text" [(ngModel)]="search"  (ngModelChange)="searchValue($event)">
    <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>-->

  <!--<form>
    <h4>mat-select</h4>
    <mat-form-field appearance="fill">
      <mat-label>FilterBy</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="filterval">
        <mat-option *ngFor="let filterval of filterValues" [value]="filterval.value">
          {{filterval.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </form>-->

    <div class="sorting-section">
       <!-- <section class="example-section">
            <mat-checkbox class="example-margin"> Name</mat-checkbox>
            <mat-checkbox class="example-margin">Height</mat-checkbox>
            <mat-checkbox class="example-margin">Weight</mat-checkbox>
        </section>
        <section class="dropdown-section">
            
       
                <mat-form-field appearance="fill">
            <mat-label>Sort</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="sortval">
            <mat-option *ngFor="let sortval of sortValues" [value]="sortval.value">
              {{sortval.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        </section>-->

    
         
        

    <!--<form>
       
        <mat-form-field appearance="fill">
          <mat-label>Sort</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="sortval">
            <mat-option *ngFor="let sortval of sortValues" [value]="sortval.value">
              {{sortval.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </form>-->
        </div>
    </mat-toolbar>


