

  <mat-card class="details-card">
    <mat-card-title>{{pokemonname + ': ' + pokemon?.name}}</mat-card-title>
    <mat-card-subtitle>{{ pokemonid + ':' + pokemon?.id }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ pokemonheight + ':' + pokemon?.height}}</p>
      <p>{{pokemonweight + ':' + pokemon?.weight}}</p>
      <ul *ngFor="let form of pokemon?.forms">{{pokemonforms + ':'}}
          <li>{{form.name}}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='onBack()'><i class='fa fa-chevron-left'></i> Back</button>
     
    </mat-card-actions>
  </mat-card>
